<!DOCTYPE html>
<html>
  <head>
    <title>Ninetykpx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if current_user %>
    <script>
      window.currentUser = {
          "id": "<%= current_user.id %>",
          "username": "<%= current_user.username %>"
      }
    </script>
  <% end%>

  <body>
    <%= yield %>
  </body>
</html>
